body{
background-color: #ffffff;
}

.container{
display: flex;
width: 100%;
height: 80vh;
justify-content: center;
align-items: center;
flex-direction: column;
}

.container form{
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
flex-direction: column;
border: 1px solid black;
padding: 30px 35px;
}

.container form button{
background-color: #fff;
border: 1px solid black;
padding: 8px 15px;
border-radius: 3px;
transition: ease-in-out 0.5s;

}

.container form button:hover{
background-color: #000000;
color: #fff;

}


.container form .imageUploader::file-selector-button{
 
background-color: #000000;
border-bottom: 4px solid rgb(255, 247, 0);
color: #fff;
padding: 5px 10px;
border-radius: 5px;
transition: ease-in-out 0.5s;
margin-right: 30px;

}




.outer-container{
display: flex;
justify-content: start;
align-items: center;
flex-direction: column;

}

.card {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 300px;
height : 300px;
border : 1px solid black;
padding : 1px 15px;
box-shadow: 0px 2px 3px 4px solid black;
margin-bottom: 20px;
}

.card img{
width: 300px;
border-radius: 10px;
}



